{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load mptt_tags %}


{% block title %} {{ setting.title }} {% endblock %}
{% block desctiption %} {{ setting.description}} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}

{% block navbar %} {% include "navbar.html" %} {% endblock %}
{% block slider %} 
{% if posts %}
	{% include "slider.html" %}
{% else %}
	<h1> CANT find posts...</h1>
{% endif %}	
{% endblock %}

{% block body %}
{% if posts %}
	{% include "blog/post_list.html" %}
{% else %}
	<p> Ops, something Wrong.... </p>  
{% endif %}
{% endblock %}

{% block footer %} {% include "footer.html" %} {% endblock %}
