{% extends 'index.html' %}

{% block content %}

     <!-- services-->
     <section class="page-section" id="services">
         <div class="container">
             <div class="text-center">
                 <h2 class="section-heading text-uppercase">博客</h2>
                 <h3 class="section-subheading text-muted">两个人的旅行.</h3>
             </div>
         </div>
     </section>
     <!-- Blogs-->
    <section class="projects-section bg-light" id="projects">
        <div class="container">
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                {% for post in posts %}
                <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{post.image.url}}" alt="" /></div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4>{{post.title}}</h4>
                        <p class="text-black-50 mb-0">{{post.content}}</p>
                        <a href="{% url ''%}" class="btn btn-primary btn-md">Read More</a>
                    </div>
                </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>


    {% if is_paginated %}
        {%  if page_obj.has_previous %}
          <a class='btn btn-outline-info mb-4' href="?page=1">First</a>
          <a class='btn btn-outline-info mb-4' href="?page={{ page_obj.previous_page_number }}">Previous</a>
        {% endif %}
        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a class='btn btn-info mb-4' href="?page={{ num }}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a class='btn btn-outline-info mb-4' href="?page={{ num }}">{{ num }}</a>
          {% endif %}
        {% endfor %}
        {%  if page_obj.has_next %}
        <a class='btn btn-outline-info mb-4' href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class='btn btn-outline-info mb-4' href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}
    {% endif %}

{% endblock %}
