{% extends 'base.html' %}


{% block body %}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">主页</a></li>
    <li class="breadcrumb-item">
        <a href="{% url 'password_reset' %}">
            忘记密码？重新发送一次：</a></li>
</ol>

<div class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
            </div>    
            <div class="col-md-9">
                
                <h3> 链接已发送到您的邮箱！</h3>

            </div>    
        </div>
    </div>
</div>


{% endblock %}

{% block footer %} {% include 'footer.html' %} {% endblock %}