<div class="profile-details">
    <div class="section-title">
        <h3 class="title">界面导航：</h3>
    </div>
    <div class="aside">
        <ul class="list-links">
            <a href="{% url 'user' %}"><li class="dropdown-item">我的账号</li></a>
            <a href="{% url 'user_bookmarks' %}"><li class="dropdown-item">我的收藏</li></a>
            <a href="{% url 'user_comments' %}"><li class="dropdown-item">我的评论</li></a>
            <a href="{% url 'logout' %}"><li class="dropdown-item">登出</li></a>
        </ul>
    </div>
</div>


